@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Manrope, system-ui, sans-serif;
    }
    h1, h2, h3, h4 {
        font-family: Anton, system-ui, sans-serif;
    }
    input[type="checkbox"] {
        @apply hidden
    }
}

@layer components {
    .select {
        @apply relative w-44 bg-white rounded-xl grid grid-cols-2 place-items-center px-4
    }
    .card-recipe {
        @apply bg-white
    }
    .subtitle {
        @apply uppercase text-grey font-medium text-sm
    }
    .list-item::-webkit-scrollbar {
        width: 0em;
    }
    
    .list-item::-webkit-scrollbar-thumb {
        @apply bg-yellow rounded-full
    }
    
    .list-item::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    .option {
        @apply p-2 w-full text-left font-light hover:bg-yellow text-sm
    }

    .options-overlay {
        @apply col-span-2 absolute z-50 bg-white rounded-b-xl pt-4 top-11 w-full animate-[smooth_200ms_ease-in-out_forwards]
    }

    .list-item {
        @apply h-52 overflow-y-scroll
    }

    .tag {
        @apply p-4 capitalize text-sm rounded-xl bg-yellow flex items-center justify-between gap-4
    }
    .fleche {
        @apply w-3 h-3 border-t-2 border-r-2 border-black rotate-45 transition-all
    }
}