@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Manrope, system-ui, sans-serif;
    }
    h1, h2, h3, h4 {
        font-family: Anton, system-ui, sans-serif;
    }
}

@layer components {
    .select {
        @apply rounded-xl bg-white w-44 font-light cursor-pointer
    }
    .card-recipe {
        @apply bg-white
    }
    .subtitle {
        @apply uppercase text-grey font-medium text-sm
    }
    .list-item::-webkit-scrollbar {
        width: 0em;
    }
    
    .list-item::-webkit-scrollbar-thumb {
        @apply bg-yellow rounded-full
    }
    
    .list-item::-webkit-scrollbar-track {
        background-color: transparent;
    }
    
    .option {
        @apply p-2 w-full text-left font-light hover:bg-yellow text-sm
    }

    .list-item {
        @apply h-52 overflow-y-scroll
    }

    .tag {
        @apply p-4 capitalize text-sm rounded-xl bg-yellow flex items-center justify-between gap-4
    }
}